{% set 
menu = [
	{
		title: 'Home'
	},
	{
		title: 'About Us'
	},
	{
		title: 'Blog'
	},
	{
		title: 'Portfolio'
	},
	{
		title: 'Contact Us'
	}
]
%},
{% set 
blog__slider = [
	{
		src: '../img/slide-1.png',
		alt:'slide-1'
	},
	{
		src: '../img/slide-1.png',
		alt:'slide-1'
	},
	{
		src: '../img/slide-1.png',
		alt:'slide-1'
	}
]
%},
{% set 
aside = [
	{
		info: 'Date',
		subinfo:'April 15, 2012	'
	},
	{
		info: 'Tags',
		subinfo:'Website | Design'
	},
	{
		info: 'Comments',
		subinfo:'4'
	}
]
%}