.logo
    float: left
    &__link
        font-family: Bebas
        font-size: 36px
        font-weight: 400
        // Text style for "JET"
        color: #e8603c
        text-transform: uppercase
    &__span
       color: #f3af9d
       text-transform: uppercase 